@media (max-width:969px) {
    .menu {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        max-width: none;
    }
    .header {
        flex: 0 1 100%;
    }
    .menu-button {
        display: block;
        font-size: 20px;
        max-width: 425px;
        min-width: 75%;
        height: 2 rem;
        border-radius: 0.6em;
    }
    .card-wrapper {
        display: flex;
        flex-direction: column;
        flex: auto;
        margin-top: 20px;
    }
    .card {
        flex: auto;
    }
    .title {
        max-width: none;
    }
    .nav {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .nav>* {
        flex: 0 1 1040px;
    }
    .menu {
        display: none;
    }
    footer {
        flex: auto;
    }
}