:root {
    --var-body-bg: black;
    --var-body-fc: white;
    --var-header-bg: #81777b;
}

[light] {
    --var-body-bg: white;
    --var-body-fc: black;
    --var-header-bg: #81777b;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: var(--var-body-fc);
    background-color: var(--var-body-bg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.container {
    max-width: 1170px;
    padding: 20px;
    margin: 0 auto;
}

.header {
    display: block;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    line-height: 59px;
}

.menu-button {
    display: none;
}

.header_logo {
    flex: auto;
}

.logo {
    width: 190px;
}

.menu {
    position: relative;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>li {
    display: block;
    align-self: center;
    color: --var-body-fc;
    background-color: black;
    text-align: center;
    padding: 0px 20px;
    transition: .5s;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu:hover li a {
    filter: blur(5px);
}

.menu>li>a:hover {
    font-size: 20px;
    filter: blur(0px);
    background-color: rgb(254, 253, 255);
    color: black;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: (--var-body-fc);
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    overflow: hidden;
    max-height: 470px;
    margin-bottom: 4vh;
    border: white;
    border-radius: 5%;
}

.card>div {
    flex: 0 0 30%;
}

.poster {
    float: left;
    width: 200px;
    height: 300px;
    border-radius: 5% 0 0 5%;
}

.text {
    display: grid;
    color: (--var-body-fc);
    margin-left: 5px;
    align-items: left;
}

.pic {
    margin: 0 auto;
}

.description {
    overflow: hidden;
}

.title {
    margin: 0 auto;
    max-width: 350px;
    word-wrap: break-word;
    text-align: center;
}

.card:hover {
    box-shadow: 5px 5px 5px 0;
    color: (--var-body-fc);
}

footer {
    margin: 0 auto;
}

.contacts {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    position: bottom;
    color: (--var-body-fc);
    text-decoration: none;
}