:root {
    --var-body-bg: black;
    --var-body-fc: white;
    --var-header-bg: #81777b;
}

[light] {
    --var-body-bg: white;
    --var-body-fc: black;
    --var-header-bg: #81777b;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: var(--var-body-fc);
    background-color: var(--var-body-bg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:970px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}


/*.container {
max-width: 1170px;
font-family: 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
line-height: 32px;
color: #ffffff;
margin: 0;
background-color: rgb(0, 0, 0);
background-repeat: no-repeat;
background-position: top center;
background-attachment: fixed;
padding: 20px;
width: 1280px;
margin: 0 auto;
}
*/

.header section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
    font-size: 30px;
    margin-left: 200px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    line-height: 59px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: block;
    justify-content: space-between;
    color: --var-body-fc;
    text-align: center;
    padding: 0px 20px;
    transition: .5s;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu:hover li a {
    filter: blur(5px)
}

.menu:hover li a:hover {
    font-size: 20px;
    filter: blur(0px);
    background-color: (--var-body-bg);
}

.card-wrapper {
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    color: (--var-body-fc);
}

.card {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 47%;
    height: 30%;
    margin-left: 15px;
    margin-bottom: 15px;
    border: white;
    border-radius: 5%;
    /* box-shadow: 0 4px 8px 0 rgb(114, 98, 89);
transition: 0.3s; */
}

.poster {
    float: left;
    width: 200px;
    height: 300px;
    border-radius: 5% 0 0 5%;
}

.text {
    color: (--var-body-fc);
    word-wrap: break-word;
    float: right;
    width: 45%;
    margin-left: 5px;
}

.card:hover {
    box-shadow: 5px 5px 5px 0;
    color: (--var-body-fc);
}

.contacts {
    padding-top: 20px;
    text-decoration: none;
    position: bottom;
    color: (--var-body-fc);
    text-decoration: none;
}